/* App Themes global variables, keep lean. */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  font-family: theme("fontFamily.sans");
  font-size: 16px;
  font-weight: 500;
}

input[type="text"],
input[type="number"],
textarea {
  border: 1px solid theme("colors.gray.500");
  width: 100%;
  line-height: 1rem;
  @apply p-4;
  @apply rounded-md;
  resize: none;
}
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-radius: 1.6875em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 800;
  align-items: center;
  line-height: 1.5em;
}

h1 {
  font-size: 2.48rem;
}

h2 {
  font-size: 1.95rem;
}

h3 {
  font-size: 1.56rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}